@charset "ISO-8859-1";

#main{
	width: 84%;
	float: right;
}

.card{
	float: left;
	margin: 2% 4%;
	text-align: center;
}

@media(max-width: 1900px){
	.card{
		margin: 2% 5%;
	}
}

img{
	transition: 0.3s;
}

img:hover {
	transform: scale(1.1);
}

.action{
	display: inline-block;
	width: 37%;
	margin-top: 15px;
}