@charset "ISO-8859-1";

#nav{
	background: #f3f3f3;
	padding: 8px;
}

#title{
	display: contents;
	font-family: fantasy;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 22px;
    color: #c58200;
}

input[type=search]{
	position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
}