@charset "ISO-8859-1";

#sidebar{
	width: 16%;
    text-align: -webkit-center;
   	background: #f3f3f3;
}

.cat{
    padding: 4px 2px;
}

.btn{
    width: 50%;
    display: block;
	background: #9f9f9f63;
    padding: 10px;
    border-radius: 10px;
}

a{
	text-decoration: none;
	color: black;
}